#Django Setup
DJANGO_SECRET_KEY=DJANGO_SECRET_KEY
DJANGO_DEBUG=DJANGO_DEBUG
BASE_URL = "http://127.0.0.1:8000"

#Telegram Setup
TELEGRAM_API_KEY=TELEGRAM_API_KEY
TELEGRAM_CHAT_ID=TELEGRAM_CHAT_ID
BORROW_PHOTO = "https://i.ibb.co/FhgwH3s/Borrowing.png"
PAYMENT_PHOTO = "https://i.ibb.co/pvQKBcL/PAYMENT.jpg"
OVERDUE_PHOTO = "https://i.ibb.co/sK81xDN/Expired.jpg"
NO_OVERDUE_PHOTO = "https://i.ibb.co/Zx25ffP/OK.jpg"

#Database Setup
POSTGRES_HOST=POSTGRES_HOST
POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD

#Stripe Setup
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY

#Celery Setup
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379
