asgiref==3.7.2
Django==5.0
djangorestframework==3.14.0
pytz==2023.3.post1
sqlparse==0.4.4
flake8==6.1.0
flake8-annotations==3.0.1
flake8-quotes==3.3.2
flake8-variables-names==0.0.6
isort==5.13.2
pep8-naming==0.13.3
